<div class="order-details">
    <!-- Left Panel Starts -->
    <div class="leftpanel">
      <div class="logo">
        <img src="../../assets/images/dominos_logo.png" alt="Dominos Logo" />
      </div>
      <div class="menu">
        <a href="#" class="active">
          <img src="../../assets/images/create-order.png" alt="Dominos Logo" />
          Create Order</a
        >
      </div>
    </div>
    <!-- Left Panel Ends -->
    <!-- Order Panel Starts -->
    <div class="orderpanel">
      <div class="ordernumber-search">
        <div class="ordernumber-time">
          <h3>Order # 391</h3>
          <div class="time">Opened 5:00 ago</div>
        </div>
        <div class="search">
          <input type="text" placeholder="Enter Contact number" />
        </div>
      </div>
      <!-- Order Items Starts -->
      <div #orders class="orders">
        <div #orderAmt *ngFor="let orders of orderDetailData; let i = index;">
          <div class="ordersitems">
            <div class="incrementinput">
              <a (click)="qtyInc(i, orders)">+</a>
              <input type="number" [(ngModel)]="quantity[i]"/>
              <a (click)="qtyDec(i, orders)">-</a>
            </div>
            <div class="orderdetails">{{orders.itemName}}<span>{{orders.itemType}}</span></div>
            <div class="orderamt">{{orders.itemPrice}}</div>
          </div>
        </div>
      </div>
      <!-- Order Items Ends -->
      <div class="total">
        <div class="totalcolumn">
          <div class="totaltxt">Subtotal</div>
          <div class="amt">₹ {{subTotal}}</div>
        </div>
        <div class="totalcolumn">
          <div class="totaltxt">Tax</div>
          <div class="amt">₹ {{taxAmt}}</div>
        </div>
      </div>
      <div class="iconsets">
        <a href="#"><img src="../../assets/images/cross.png" alt="" /></a>
        <a href="#"><img src="../../assets/images/discount.png" alt="" /></a>
        <a href="#"><img src="../../assets/images/print.png" alt="" /></a>
        <a href="#"><img src="../../assets/images/save.png" alt="" /></a>
      </div>
      <div (click)="onSuccess()" class="payamt">
        <div class="totaltxt">Pay</div>
        <div class="amt">₹ {{total}}</div>
      </div>
    </div>
    <!-- Order Panel Ends -->
    <!-- Items Starts starts -->
    <div class="itemsdetails">
      <div class="toptabs">
        <div class="toptabs-content"><a href="#">Breads</a></div>
        <div class="toptabs-content"><a href="#">Sides</a></div>
        <div class="toptabs-content"><a href="#" class="active">Pizza</a></div>
        <div class="toptabs-content"><a href="#">Beverages</a></div>
        <div class="toptabs-content"><a href="#">Miscellaneous</a></div>
        <div class="toptabs-content"><a href="#">Desserts</a></div>
        <div class="toptabs-content"><a href="#">Combo</a></div>
      </div>
  
      <div #item class="items">
        <a (click)="dblChe = !dblChe;calc0()" [ngClass]="{'selected':dblChe === true}">Dbl_Che Marg</a>
        <a (click)="farmhouse = !farmhouse;calc1()" [ngClass]="{'selected':farmhouse === true}">Farmhouse</a>
        <a (click)="pepperPaneer = !pepperPaneer;calc2()" [ngClass]="{'selected':pepperPaneer === true}">Pepper Paneer</a>
        <!-- <a href="#">Mexican Green</a> -->
        <a (click)="mexicanGreen = !mexicanGreen;calc3()" [ngClass]="{'selected':mexicanGreen === true}">Mexican Green</a>
        <a (click)="deluxeVeggie = !deluxeVeggie;calc4()" [ngClass]="{'selected':deluxeVeggie === true}">Deluxe Veggie</a>
        <a (click)="pizzaPizza = !pizzaPizza;calc5()" [ngClass]="{'selected':pizzaPizza === true}">Pizza Pizza</a>
        <a (click)="freshVeggie = !freshVeggie;calc6()" [ngClass]="{'selected':freshVeggie === true}">Fresh Veggie</a>
        <a (click)="paneerMakhani = !paneerMakhani;calc7()" [ngClass]="{'selected':paneerMakhani === true}">Paneer Makhani</a>
        <a (click)="cornNcheese = !cornNcheese;calc8()" [ngClass]="{'selected':cornNcheese === true}">Corn and Cheese</a>
        <a (click)="pmOnion = !pmOnion;calc9()" [ngClass]="{'selected':pmOnion === true}">PM Onion</a>
        <a (click)="pmGoldenCorn = !pmGoldenCorn;calc10()" [ngClass]="{'selected':pmGoldenCorn === true}">PM Golden Corn</a>
        <a (click)="pmPaneerpizza = !pmPaneerpizza;calc11()" [ngClass]="{'selected':pmPaneerpizza === true}">PM Paneer Pizza</a>
        <a (click)="pmCheesy = !pmCheesy;calc12()" [ngClass]="{'selected':pmCheesy === true}">PM Cheesy</a>
        <a (click)="pmTomato = !pmTomato;calc13()" [ngClass]="{'selected':pmTomato === true}">PM Tomato</a>
        <a (click)="golderDelight = !golderDelight;calc14()" [ngClass]="{'selected':golderDelight === true}">Gold Delight</a>
        <a (click)="nvgDominato = !nvgDominato;calc15()" [ngClass]="{'selected':nvgDominato === true}">NVG Dominato</a>
        <a (click)="nvgSupreme = !nvgSupreme;calc16()" [ngClass]="{'selected':nvgSupreme === true}">Nvg Supreme</a>
        <a (click)="chickenFiesta= !chickenFiesta;calc17()" [ngClass]="{'selected':chickenFiesta === true}">Chicken Fiesta</a>
        <a (click)="pepperBbq = !pepperBbq;calc18()" [ngClass]="{'selected':pepperBbq === true}">Pepper BBQ</a>
        <!-- <a href="#">Pepper BBQ</a> -->
        <a (click)="afronPPVeg = !afronPPVeg;calc19()" [ngClass]="{'selected':afronPPVeg === true}">Afron PP Veg</a>
        <a (click)="pmChickenSausage = !pmChickenSausage;calc20()" [ngClass]="{'selected':pmChickenSausage === true}">PM Chicken Sausage</a>
        <a (click)="chickenSausage = !chickenSausage;calc21()" [ngClass]="{'selected':chickenSausage === true}">Chicken Sausage</a>
        <a (click)="tomatoandCheese = !tomatoandCheese;calc22()" [ngClass]="{'selected':tomatoandCheese === true}">Tomato and Cheese</a>
        <a (click)="jamxjrxVeg = !jamxjrxVeg;calc23()" [ngClass]="{'selected':jamxjrxVeg === true}">JAMX JRK Veg</a>
        <a (click)="tanduriPaneer = !tanduriPaneer;calc24()" [ngClass]="{'selected':tanduriPaneer === true}">Tandoori Paneer</a>
        <a (click)="ausiBbqVeg = !ausiBbqVeg;calc25()" [ngClass]="{'selected':ausiBbqVeg === true}">Ausi BBQ Veg</a>
        <!-- <a href="#" class="selected">PM Tomato</a> -->
      </div>
      <div class="itemfooter">
        <div class="empname">Rajesh Mehra</div>
        <div class="datetime">7/7/2019 <span>|</span> 20:30</div>
      </div>
    </div>
    <!-- Items Starts Ends -->
    <div *ngIf="isSuccess">
        <div class="overlay"></div>
  
        <div class="lightbox" id="lightbox-1">
          <div class="modalheader">
            <span>Success</span> <a href="#" class="close"></a>
          </div>
          <div class="modalbody">
            <img src="../../assets/images/tick.png" alt="" />
            <h4>Order Created</h4>
            <h3>Payment of <strong>₹ {{total}}</strong> received</h3>
            <a routerLink="/modal" class="btn">Done</a>
          </div>
        </div>
    </div>
    
  </div>
  
