<div class="order-details modalcomponent">
    <!-- Left Panel Starts -->
    <div class="leftpanel">
      <div class="logo">
        <img src="../../assets/images/dominos_logo.png" alt="Dominos Logo" />
      </div>
      <div class="menu">
        <a href="#" class="active">
          <img src="../../assets/images/create-order.png" alt="Dominos Logo" />
          Create Order</a
        >
      </div>
    </div>
    <!-- Left Panel Ends -->
    <!-- Order Panel Starts -->
    <div class="orderpanel">
      <div class="ordernumber-search">
        <div class="ordernumber-time">
          <h3>Order # 391</h3>
          <div class="time">Opened 5:00 ago</div>
        </div>
        <div class="search">
          <input type="text" placeholder="Enter Contact number" />
        </div>
      </div>
      <!-- Order Items Starts -->
      <div class="orders">
        <!-- <div class="ordersitems">
          <div class="incrementinput">
            <a href="#">+</a>
            <input type="number" placeholder="1" />
            <a href="#">-</a>
          </div>
          <div class="orderdetails">Deluxe Veggie <span>15 Inch Large</span></div>
          <div class="orderamt">240.00</div>
        </div>
        <div class="ordersitems">
          <div class="incrementinput">
            <a href="#">+</a>
            <input type="number" placeholder="1" />
            <a href="#">-</a>
          </div>
          <div class="orderdetails">Mexican Green <span>15 Inch Large</span></div>
          <div class="orderamt">240.00</div>
        </div>
        <div class="ordersitems">
          <div class="incrementinput">
            <a href="#">+</a>
            <input type="number" placeholder="1" />
            <a href="#">-</a>
          </div>
          <div class="orderdetails">PM Tomato<span>15 Inch Large</span></div>
          <div class="orderamt">240.00</div>
        </div>
        <div class="ordersitems">
          <div class="incrementinput">
            <a href="#">+</a>
            <input type="number" placeholder="1" />
            <a href="#">-</a>
          </div>
          <div class="orderdetails">Pepper BBQ <span>15 Inch Large</span></div>
          <div class="orderamt">240.00</div>
        </div>
        <div class="ordersitems">
          <div class="incrementinput">
            <a href="#">+</a>
            <input type="number" placeholder="1" />
            <a href="#">-</a>
          </div>
          <div class="orderdetails">
            PM Paneer Pizza <span>15 Inch Large</span>
          </div>
          <div class="orderamt">240.00</div>
        </div> -->
      </div>
      <!-- Order Items Ends -->
      <div class="total">
        <div class="totalcolumn">
          <div class="totaltxt">Subtotal</div>
          <div class="amt">₹ 0.00</div>
        </div>
        <div class="totalcolumn">
          <div class="totaltxt">Tax</div>
          <div class="amt">₹ 0.00</div>
        </div>
      </div>
      <div class="iconsets">
        <a href="#"><img src="../../assets/images/cross.png" alt="" /></a>
        <a href="#"><img src="../../assets/images/discount.png" alt="" /></a>
        <a href="#"><img src="../../assets/images/print.png" alt="" /></a>
        <a href="#"><img src="../../assets/images/save.png" alt="" /></a>
      </div>
      <div class="payamt">
        <div class="totaltxt">Pay</div>
        <div class="amt">0.00</div>
      </div>
    </div>
    <!-- Order Panel Ends -->
    <!-- Items Starts starts -->
    <div class="itemsdetails">
      <div class="toptabs">
        <div class="toptabs-content"><a href="#">Breads</a></div>
        <div class="toptabs-content"><a href="#">Sides</a></div>
        <div class="toptabs-content"><a href="#" class="active">Pizza</a></div>
        <div class="toptabs-content"><a href="#">Beverages</a></div>
        <div class="toptabs-content"><a href="#">Miscellaneous</a></div>
        <div class="toptabs-content"><a href="#">Desserts</a></div>
        <div class="toptabs-content"><a href="#">Combo</a></div>
      </div>
  
      <div class="items">
        <a href="#">Dbl_Che Marg</a>
        <a href="#">Farmhouse</a>
        <a href="#">Pepper Paneer</a>
        <a href="#">Mexican Green</a>
        <a href="#">Mexican Green</a>
        <a href="#">Deluxe Veggie</a>
        <a href="#">Pizza Pizza</a>
        <a href="#">Fresh Veggie</a>
        <a href="#">Paneer Makhani</a>
        <a href="#">Corn and Cheese</a>
        <a href="#">PM Onion</a>
        <a href="#">PM Golden Corn</a>
        <a href="#">PM Paneer Pizza</a>
        <a href="#">PM Cheesy</a>
        <a href="#">PM Tomato</a>
        <a href="#">Gold Delight</a>
        <a href="#">NVG Dominato</a>
        <a href="#">Nvg Supreme</a>
        <a href="#">Chicken Fiesta</a>
        <a href="#">Pepper BBQ</a>
        <a href="#">Pepper BBQ</a>
        <a href="#">Afron PP Veg</a>
        <a href="#">PM Chicken Sausage</a>
        <a href="#">Chicken Sausage</a>
        <a href="#">Tomato and Cheese</a>
        <a href="#">JAMX JRK Veg</a>
        <a href="#">IND Tandoori Paneer</a>
        <a href="#">Ausi BBQ Veg</a>
        <a href="#">PM Tomato</a>
      </div>
      <div class="itemfooter">
        <div class="empname">Rajesh Mehra</div>
        <div class="datetime">7/7/2019 <span>|</span> 20:30</div>
      </div>
    </div>
    <!-- Items Starts Ends -->
  
    <div class="overlay"></div>
    <!--<div class="modal-wrapper">
    <div class="modal"></div>
  </div>
   -->
    <div class="lightbox" id="lightbox-1">
      <div class="modalheader">
        <span>User ID</span>
      </div>
      <div class="modalbody">
        <input type="number" [(ngModel)]="myInput" placeholder="Enter User ID" />
        <div class="keypad">
          <ul>
            <li><a (click)="getNum($event)">1</a></li>
            <li><a (click)="getNum($event)">2</a></li>
            <li><a (click)="getNum($event)">3</a></li>
            <li><a (click)="getNum($event)">4</a></li>
            <li><a (click)="getNum($event)">5</a></li>
            <li><a (click)="getNum($event)">6</a></li>
            <li><a (click)="getNum($event)">7</a></li>
            <li><a (click)="getNum($event)">8</a></li>
            <li><a (click)="getNum($event)">9</a></li>
            <li>
              <a href="#"><span class="arrow"></span></a>
            </li>
            <li><a (click)="getNum($event)" href="#">0</a></li>
            <li>
              <a routerLink="/order-detail"><span class="tick"></span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
